.contact {
    margin-bottom: 10px;
}

.contact-form {
    margin: 50px auto;
}

.contact-element {
    margin: 0 auto;
    text-align: center;
}

.search {
    margin-top: 20px;
    margin-bottom: 20px;
}